{% extends "layout.html" %}
{% block body %}
    <h1>Twitter Topic Explorer - Data Collection</h1>
    <p>Job Details</p>
    <p>Query: "{{ job.query}}"</p>
    <p>Active: {{ job.active }}</p>
    <p>Connected: {{ job.connected }}</p>
    <p>Collected tweets: {{ job.count }}</p>
    <p>Tweets matching this query: {{ nr_tweets }}</p>
    <p>Tweets:</p>
    <ul>
    {% for tweet in tweets %}
        <li>{{ tweet['status']['text'] }}</a></li>
    {% endfor %}
    </ul>
    
    <p><a href="{{ url_for('collector.stop_job') }}?id={{request.args.get('id')}}">Stop this job</a></p>
    
{% endblock %}
